html{
    background-color: #ffe4c438;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.planets{
    display :   flex;
    justify-content: space-around  ;
}

.vehicle{
    margin: 2em;
    margin-left: 0;
}

.find-div{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.find-btn{
    font-size: x-large;
}